* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

header {
  padding: 10px;
  text-align: center;
  background-color: lightgrey;
  color:black;
}

/* definition of style for the menu bar  */
nav {  
  background-color:steelblue;
  text-align: center;
  display: flex;
}

nav a { 
  color: white;
  padding: 10px; 
  text-decoration: none;
}

/* definition of flex move for main sections */

main{
  display: flex;
}

#about-contact-me-container{
  background-color:lightgoldenrodyellow;
  width: 100%;
  min-width: 300px;
  text-align: center;
}

/* definition of style for text and pict of the about and contact me sections  */

.information-style{
  padding: 20px;
  font-size: 24px;
}

.information-style p{
  padding: 4px;
}

.information-style img{
  width: 250px;
  padding: 10px;
}

/* definition of style for the big picts  */

#img-link-main-app header {
  width: 480;
  padding: 8px; 
  background: steelblue;
  color: #fff;
}

#img-link-main-app img {
  width: 480px;
}

#img-link-main-app img:hover {
  border-radius: 8%;
  border-style:solid;
  border-color: steelblue ;
  border-width: 8px;
}

/* definition of flex move style for small picts  */

.img-link-others-apps {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
}

.titled-image header{
  width: 240;
  padding: 8px;
  background: steelblue;
  color: #fff;
}

.titled-image img{
  width: 240px;
}

.titled-image img:hover {
  border-radius: 8%;
  border-style:solid;
  border-color: steelblue ;
  border-width: 8px;
}

/* footer and media screen */

footer{
    background-color:steelblue;
    padding: 2%;
    text-align: center;
    color: white;
}
 
@media screen and (max-width: 768px) {
  main, nav {
    flex-direction: column;
  }
}   